:root {
      --color-iris: #4d5ae5;
      --color-ocean: #404bbf;
      --color-navy-blue: #2e2f42;
      --color-green: #31d0aa;
      --color-slate: #434455;
      --color-light-slate: #8e8f99;
      --color-cornflower: #e7e9fc;
      --color-cloud: #f4f4fd;
      --color-navy-blue-modal: #2e2f42;
      --color-grey: #2e2f42;
      --color-white: #ffffff;
      --color-dairy: #fcfcfc;


      /*  Others*/
      --anim-hover: 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 


/**
  |============================
  | RESET
  |============================
*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none
}

button {
  font-family: inherit;
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: 0;
  display: block;
}

body {
  color: var(--color-slate);
  background: var(--color-white);

  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(24 / 16);

}

.container {
  /* Phone screen */
  max-width: 480px;
  padding: 0 16px;
  margin: 0 auto;
  outline: 1px solid red; 
}

@media only screen and (min-width: 768px) {

  /* Tablet */
  .container {
    max-width: 768px;
    padding: 0 16px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {

  /* Desktop */
  .container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
  }
}

/**
  |============================
  | HEADER
  |============================
*/
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 
  0px 1px 6px rgba(46, 47, 66, 0.08);

  border-bottom: 1px solid #e7e9fc;

}

@media only screen and (max-width: 468px) {
  .header-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
  }
}
@media only screen and (min-width: 468px) {
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1200px) {
    .header-wrapper {
    display: flex;
      align-items: center;
      justify-content: center;
  
  }
}
.header-menu {
display: flex;

}

.menu-item:not(:last-child) {
  margin-right: 40px;
}
.header-nav {
position: relative;
display: flex;
margin-right: auto;

}

@media only screen and (max-width: 1200px) {
  .menu-item{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media only screen and (max-width: 767px) {
  .header-menu{
    display: none;

  }
}
@media only screen and (max-width: 767px) {
.address {
  display: none;
}
}

@media only screen and (max-width: 1199px) {
  .address.menu-item{
      margin-right: 0;
  }
}

@media only screen and (min-width: 1200px) {
  .address-menu {
    display: flex;
  }
}
.menu-link {
  display: block;
  transition: color var(--anim-hover);
}

@media only screen and (min-width: 1200px) {
  .menu-link{
      padding-top: 24px;
      padding-bottom: 24px;
  }
}
.menu-item {
  position: relative;
 
}

.current::after {
  content: "";
  position: absolute;
  display: block;

  background-color: #4d5ae5;
  border-radius: 4px;

  width: 100%;
  bottom: 0;
  height: 4px;

}
/**
  |============================
  | LOGO
  |============================
*/

.header-logo {
  color: var(--color-iris);

  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;

  margin-top: 24px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
  }
}
@media only screen and (min-width: 1200px) {
  .header-logo {
    margin-right: 76px;
  }
}
.header-logo-decor {
  color: var(--color-navy-blue);
  transition: color var(--anim-hover)
}

.menu-link {
  font-weight: 500;
  color: var(--color-navy-blue);
}

.logo:hover, .logo:focus {
  color: var(--color-ocean);
 
}

/**
  |============================
  | ADDRESS NAV
  |============================
*/

.address {
  font-style: inherit;
}

.address .menu-link {
  color: var(--color-slate);
  font-weight: 400;
  transition: color var(--anim-hover)
}
/**
  |============================
  | HOVER / FOCUS
  |============================
*/


.address .menu-link:hover,
 .address .menu-link:focus{
color: var(--color-ocean);

  

}
.menu-link:hover,
.menu-link:focus {
  color: var(--color-ocean);
}
.header-logo-decor:hover,
 .header-logo-decor:focus{
  color: var(--color-ocean);
}
.footer-logo .decor:hover, 
.footer-logo .decor:focus{
  color: var(--color-ocean);
}
.button:hover,
 .button:focus{
  background-color: var(--color-ocean);

}
.filter-button:hover,
 .filter-button:focus {
 color: var(--color-white);
border: 1px solid transparent;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
 0px 2px 1px rgba(0, 0, 0, 0.08),
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-item__link:hover,
.portfolio-item__link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);

}

.customers-link:hover, 
.customers-link:focus {
  border-color: var(--color-ocean);
  color: var(--color-ocean)
}
.social-link.how-ocean:hover,
.social-link.how-ocean:focus{
  background-color: var(--color-ocean);
  
}
.social-link.how-green:hover,
.social-link.how-green:focus {
background-color: var(--color-green);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--color-iris);
  fill: var(--color-white);
  border-color: transparent;
}
.sub-btn:hover,
.sub-btn:focus {
  background-color: #404bbf;
 
}
/**
  |============================
  | BUTTON
  |============================
*/
.button {
background-color: var(--color-iris);

  letter-spacing: 0.04em;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  border-radius: 4px;
  transition: background-color var(--anim-hover)
}

.hero-button {

  align-items: center;
  padding: 16px 32px;

  color: var(--color-white);

  min-width: 169px;
  height: 56px;

  margin-top: 72px;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 768px) {
  .hero-button {
    margin-top: 36px;
  }
}
@media only screen and (min-width: 1200px) {
  .hero-button {
    margin-top: 48px;
  }
}

.filter-button {

  padding: 11px 23px;
  height: 48px;

  background-color: var(--color-cloud);
  color: var(--color-iris);

 
  align-items: center;
  border: 1px solid #e7e9fc;
 transition: background-color var(--anim-hover) 
  /* transition: color var(--anim-hover) */

}
/**
  |============================
  | PORTFOLIO
  |============================
*/
/* FILTERS */
.filters {
  padding-bottom: 48px;
}
@media only screen and (min-width: 767px) {
  .filters {
    padding: 64px 0 96px;
  }
}
@media only screen and (min-width: minwidthpx) {
  .filters{
    padding: 100px 0 120px;
  }
}

/* .filter-wrapper {
  padding: 32px 16px;
} */

.filter-list {

  display: flex;
  flex-wrap: wrap;
  margin-top: 48px;
  gap: 24px
}

@media only screen and (min-width: 768px) {
  .filter-list {
    justify-content:center;
    flex-direction: row;
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1200px) {
    .filter-list{
    margin-bottom: 72px;
  }
}
/*  ROW */

.portfolio-list {

  display: flex;

  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  margin-top: 48px;
  justify-content: center;
 
}
.portfolio-item {
/* width: calc((100% - 48px) / 3); */

}

.over-wrapper{
position: relative;
  overflow: hidden;
}
.overlay {
position: absolute;

top:0;
left:0;
width: 100%;
height: 100%;

background-color: var(--color-iris);

padding: 40px 32px;

transform: translateY(100%);

transition: transform var(--anim-hover), visibility;


}
.portfolio-item__link:hover .overlay, 
.portfolio-item__link:focus .overlay {

transform: translateY(0%);
}
.over-text {
  color: var(--color-cloud);
  width: 296px;
}


.portfolio-item__link {
  display: block;

}

.portfolio-title {
  margin-bottom: 8px;
}

.portfolio-item__text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  
}
/**
  |============================
  | HERO
  |============================
*/
.hero {
  background-image: linear-gradient(rgba(46, 47, 66, 0.7),rgba(46, 47, 66, 0.7) ),  url(../images/oficemob@1x.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1440px;
  margin: 0 auto;

  background-color: var(--color-navy-blue);
  padding: 112px 0;
}

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
  .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url(../images/oficemob@2x.jpg);
  
    }
}

@media only screen and (min-width: 429px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/oficetable@1x.jpg);
  }
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
          url(../images/oficetable@2x.jpg);
  
      }
    }
}

@media only screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url(../images/officedesk@1x.jpg);
  }
         @media (min-device-pixel-ratio: 2),
         (min-resolution: 192dpi),
         (min-resolution: 2dppx) {
           .hero {
             background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
               url(../images/oficedesk@2x.jpg);
           }
         }
}
@media only screen and (min-width: 1200px) {
  .hero {
      padding: 188px 54px;
  }
}

.hero-title {
  color: var(--color-white);

  max-width: 320px;

  text-align: center;
  margin-left: auto;
  margin-right: auto;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);

}
@media only screen and (min-width: 768px) {
  .hero-title{
    max-width: 496px; 
    font-size: 56px;
    line-height: calc(60 / 56); 
  }
}


/**
  |============================
  | ADVANTAGE
  |============================
*/
.advantage-title.title{
font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);
  margin-bottom: 8px;
}



@media only screen and (max-width: 767px) {
  .advantage-title.title {
      text-align: center;
  }
}

.advantage-text {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(24 / 16);
  max-width: 354px;
}
@media only screen and (max-width: 767px) {
  .advantage-text {
  
    margin-bottom: 72px;
  }
}
@media only screen and (max-width: 767px) {
  .advantage-text.bot {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 1199px) {
  .advantage-icon {
      display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .advantage-title.title {
    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}
@media only screen and (min-width: 768px) and (max-width: 1199px){
  .advantage-list__item:nth-child(-n + 2) {
      margin-bottom: 72px;
  }
}
@media only screen and (min-width: 768px) {
  .advantage-list {
      display: flex; 
      flex-wrap: wrap;
      gap: 24px;

}

}
@media only screen and (min-width: 1200px) {

.advantage-text{
  font-weight: 400;
}
  .advantage-wrapper {
   display: flex;

  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 8px;
  height: 112px;

  background-color: var(--color-cloud);
  }

.advantage-icon {
  display: block;
  justify-content: center;
  align-items: center;
}
 .advantage-list {
  display: flex;
   align-items: flex start;
  gap: 24px;
}
.advantage-list__item {
  width: calc((100% - 72px) / 4)
}
}

/**
  |============================
  | SECTION TEXT / TITLE
  |============================
*/
.main-title {
color: var(--color-navy-blue);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;

  margin-bottom: 72px;
  text-align: center;

  text-transform: capitalize;
}


.title {
  color: var(--color-navy-blue);

  font-weight: 500;
  font-size: 20px;
  line-height: calc(24 / 20);

}
.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 1200px) {
.section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/**
  |============================
  | WORKS
  |============================
*/
.works {
  padding-top: 0px;
}

.works-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
@media only screen and (max-width: 1199px) {
 .works{
  display: none;
  }
}
/**
  |============================
  |  TEAM
  |============================
*/

 .team-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .team-list {
      gap: 16px;

  }
}
.team-list__title {
  text-align: center;
  margin-bottom: 8px;
 
}
.team-list__text{
text-align: center;
margin-bottom: 8px;

}
.team {
  background-color: var(--color-cloud);
}
.team-list__item {
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16),
   0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;

}

.team-list__item .person {
  padding: 32px 0

}

/**
  |============================
  | CUSTOMERS
  |============================
*/

.customers {
  padding: 96px 0;
}
@media only screen and (min-width: 1200px) {
  .customers {
      padding: 96px 0;
  }
}

.customers-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;

}
 .customers-item {
   width: calc((100% - 1 * 16px) / 2);
  height: 88px;
    max-width: 190px;
  
 }
 @media only screen and (max-width: 768px) {
.customers-item:nth-child(-n + 4) {
    margin-bottom: 72px;
 }
}

@media only screen and (min-width: 768px) {
    .customers-list:nth-last-child(-n + 5) {
      margin-bottom: 72px;
  }
}


@media only screen and (min-width: 1200px) {
  .customers-item  {
  width: calc((100% - 120px) / 6);
  height: 88px;


}
}

.customers-link {
  
display: flex;
align-items: center;
justify-content: center;

  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;

  color: var(--color-light-slate);
  transition: color var(--anim-hover)

}
.customers-icon {
  fill: currentColor;
}
/**
  |============================
  | FOOTER
  |============================
*/
.footer-wrapper.container{
  display: flex;


}
@media only screen and (max-width: 1199px) {
  .footer-wrapper.container{
      flex-wrap: wrap;
  }
}

.footer-logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;

  margin-bottom: 72px;
  max-width: 268px;
}

@media only screen and (min-width: 768px) {
  .footer-logo-wrapper {
    margin-left: 108px;
    margin-right: 0;
  }
}
@media only screen and (min-width: 1200px) {
    .footer-logo-wrapper {
        margin-left:0;
        margin-bottom: 0px;
  }
}
.footer {
  background-color: var(--color-navy-blue);
  padding: 96px 0;

}

@media only screen and (min-width: 1200px) {
.footer {
    padding: 100px 0;
  }
}
.footer-logo-wrapper {
  display: flex;
}

@media only screen and (max-width: 767px) {
  .footer-logo-wrapper {
      justify-content: center;
  }
}
.footer-logo {
    color: var(--color-iris);
    
      font-family: "Raleway", sans-serif;
      font-weight: 800;
      font-size: 18px;
      line-height: 1.17;
      display: inline-block;
      margin-bottom: 16px;

  
}
.footer-logo .decor {
  color: var(--color-cloud);
  margin-bottom: 0;
  transition: color var(--anim-hover)
}

.footer-text {
  color: var(--color-cloud);
  max-width: 264px;
}

.footer-wrapper {
  display: flex;
 
}

@media only screen and (min-width: 1200px) {
  .footer-wrapper{
      display: flex;
      align-items: baseline;
  }
}
@media only screen and (min-width: 1200px) {
    .footer-logo-wrapper{
        margin-right: 120px;
      }
  }

/**
  |============================
  | SOCIAL
  |============================
*/

.social-wrapper {
  display: flex;
  flex-wrap: wrap;
 

  width: 208px;
  margin-left: 24px;
  margin-bottom: 72px;
}

@media only screen and (max-width: 767px) {
  .social-wrapper{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
@media only screen and (min-width: 1199px) {
  .social-wrapper {
      margin-right: 80px;
        margin-bottom: 0;
  }
}

.social-list {
  display: flex;
  gap: 16px;
}
.social-list__person {
  display: flex;
  justify-content: center;
  gap: 24px;
}
   
.social-title {
  color: var(--color-white);
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.social-link { 
display: flex;
align-items: center;
justify-content: center;

background-color: var(--color-iris);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: var(--color-cloud);
  transition: background-color var(--anim-hover)
}

.social-icon {
  fill: currentColor;
}


/**
  |============================
  | BACKDROP
  |============================
*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(46, 47, 66, 0.4);

  opacity: 1;
  transition: opacity var(--anim-hover), visibility var(--anim-hover);

}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition-delay: 500ms;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) ;

  padding:24px;


  width: 408px;
  min-height: 576px;

  background-color: var(--color-dairy);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14),
  0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transition: transform var(--anim-hover) 400ms, opacity var(--anim-hover) 400ms;
}

@media only screen and (max-width: 468px) {
  .modal{
      width: 100%;
  }
}
.backdrop.is-hidden .modal {
  transform: translateX(-50%) translateY(-50%) scale(0.3);
  opacity: 0;
}
/* MODAL */

.modal-btn {
  display: block;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  fill: var(--color-navy-blue);
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;


}
.modal-icon {
  display: flex;
  margin:auto;
  align-items: center;
  justify-content: center;

  transition: fill var(--anim-hover);
}


/* FORM */

.modal-title {
  display: block;
  text-align: center;
  font-size: 16px;
  margin-top: 24px;
  margin-bottom: 16px;
  
}
.modal-form-field {
  margin-bottom: 8px;
  position: relative;
}

.modal-name {
  display: block;

  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;

  color: var(--color-light-slate);

}

.modal-form-input {
  width: 100%;
  height: 40px;
  padding: 0 38px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;

  outline: transparent;
  transition: border-color var(--anim-hover);
  
}
.modal-form-input::placeholder {
font-size: 12px;
line-height: calc(14 / 12);
letter-spacing: 0.04em;
color: rgba(46, 47, 66, 0.4);
}

.modal-form-input:focus  {
  border-color: var(--color-iris);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--color-iris)
}
.modal-form-icon {
   position: absolute;
   left: 10px;
   bottom: 10px; 

   pointer-events: none;
   transition: fill var(--anim-hover);
}
.modal-form-message {
  width: 100%;
  height: 120px;
  padding: 10px;

  font-size: 12px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  outline: transparent;

  transition: border-color var(--anim-hover);

  resize: none;
}
 .modal-form-message::placeholder {
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);

 }
.modal-form-message:focus {
    border-color: var(--color-iris);

}
.modal-form-agreement {
  display: flex;
  gap: 8px;

  margin: 24px 0px;

}
.modal-form-desc {
  font-size: 12px;
  line-height: calc(14 / 12);
  color: var(--color-light-slate);

}
.modal-form-link {
  color: var(--color-iris);
  text-decoration: underline;
}
.modal-form-checkbox {
 display: flex; 
  align-items: center; 
  justify-content: center;  
  margin-left: 0;
  appearance: none;

  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;

  transition: background-color var(--anim-hover);
}

.icon-check {
  opacity: 0;
  fill: var(--color-white);

}
.modal-form-agreement{
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 18px;
  margin-bottom: 24px;
  gap: 8px;

}
.modal-form-icon-check {
position: absolute;
top:4px;
left: 3px;


}

.modal-form-checkbox:checked {
  background-color: var(--color-ocean) ;
  border: transparent;
}
.modal-form-checkbox:checked + 
.modal-form-icon-check > .icon-check {
  opacity: 1;
}

 .modal-form-btn {
display: block;
margin: 0 auto;
 }


/**
  |============================
  | SUBSCRIBE
  |============================
*/
.wrappers-sub {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  /* margin-bottom: 96px; */
}
@media only screen and (min-width: 768px) {
  .wrappers-sub{
    flex-direction: column;
  }
}
@media only screen and (min-width: 768px)  and  (max-width: 1199px){
    .wrappers-sub {
        margin-left: 108px;
  }
}

.sub-title .social-title {
  text-align: center;

}
.sub-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 1200px) {
  .sub-form {
      display: flex;
      flex-wrap: nowrap;
  }
}
.sub-btn {
  display: flex;

  align-items: center;
 
  width: 165px;
  height: 40px;

border-radius: 1px solid var(--color-slate);
padding: 8px 24px;
margin-left: 24px;
border-radius: 4px;

background-color: var(--color-iris);
color: var(--color-cloud);

transition: background-color var(--anim-hover)
}

.sub-email {

  border: 1px solid var(--color-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

width: 264px;
  height: 40px;
  padding: 16px;
  outline: 1px transparent;
  width: 264px;

  background-color: var(--color-navy-blue) ;
  color: var(--color-white);


  
}
@media only screen and (max-width: 767px) {
  .sub-email {
      margin-bottom: 16px;
      width: 100%;
  }
}
@media only screen and (max-width: 1199px) {
    .sub-email {
        opacity: 0.3
  }
}

.sub-email::placeholder {
  display: flex;
  align-items: center;

  font-size: 12px;
  margin-right: 16px;

  color: var(--color-white);
  transition: border-color var(--anim-hover);

}
.sub-form{
  position: relative;
}
.sub-icon {
  margin-left: 16px;
}
/**
  |============================
  | MOBILE MENU
  |============================
*/
.menu-toggle-icon {
  width: 32px;
  height: 22px;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}
@media only screen and (min-width: 768px) {
  .menu-toggle-icon{
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: var(--color-white);



  display: flex;
  flex-direction: column;

transform: translateX(100%);
 transition: transform var(--anim-hover);

}

.menu-container.is-open {
  transform: translateX(0);
}

.modal-icon-mobile {
    display: block;
    margin-left: auto;
    fill: var(--color-navy-blue);
  
    border-radius: 50%;
    width: 24px;
    height: 24px;

    padding: 7px;
    border: 1px solid var(--color-cornflower);

}

.mobile-menu {  
display: flex;
flex-direction: column;
gap: 40px;

margin-bottom: auto;


}
.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);

}

.mobile-contacts-item {
  margin-bottom: 40px;
}
.address-men-.link{

  font-weight: 700;
  font-size: 36px;
  line-height: calc(40 / 36);

color: var(--color-iris);
}
.mobile-contact-link {
    width: 100%;
    height: 40px;
    

    font-weight: 700;
    font-size: 36px;
    line-height: 40px;

    color: var(--color-iris);

}
.mobile-contact-mail {

    font-weight: 500;
    font-size: 20px;
    line-height: calc(24 /20);
 
    color: var(--color-slate);

}


.current-accent {
  color: var(--color-iris)
}
.social-list-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
